.signupContent {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  animation: fade-up 0.5s forwards;
}

.signupImageContainer{
  display: flex;
  width: 50%;
  margin-top: 5%;
}

@media (max-width: 800px) {
  .signupContent {
    display: flex;
    justify-content: center;
  }
  .signupImageContainer {
    display: none;
  }
}

@keyframes fade-up {
  from { opacity: 0; transform: translateY(-5%) }
  to { opacity: 1; transform: translateY(0%) }
}